@page "/wastes"
@using Again.Domain.Entities
@inject HttpClient Http

<h3>Atık Listesi</h3>

@if (wasteList == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <ul>
        @foreach (var waste in wasteList)
        {
            <li>@waste.Name - @waste.WasteType</li>
        }
    </ul>
}

@code {
    private List<Waste> wasteList;

    protected override async Task OnInitializedAsync()
    {
        wasteList = await Http.GetFromJsonAsync<List<Waste>>("api/waste");
    }
}